doctype html
head
    title Login
body
    form(action="/auth" method="post")
        input(name="login" placeholder="Login" id="login")
        input(name="password" placeholder="Pawssword" id="password")
        button(id="register" type="submit") Login
