doctype html
head
    link(rel='stylesheet', href='/css/chat.css')
    title Public CHAT
    
body
    h1 Public CHAT

    ul#messages
    form(action="")
        input#m(autocomplete="off")
        button#send Send
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js")
    script(src="/js/chat.js")