doctype html
head
   title Register
body
   form(action="/register" method="post")
      input(name="login" placeholder="Login" id="login")
      input(name="password" placeholder="Pawssword" id="password")
      button(id="register" type="submit") Register
